/*
 * NetBox API
 * API to access NetBox
 *
 * The version of the OpenAPI document: 3.2
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package de.codemakers.netbox.client.api;

import de.codemakers.netbox.client.ApiClient;
import de.codemakers.netbox.client.ApiException;
import de.codemakers.netbox.client.ApiResponse;
import de.codemakers.netbox.client.Pair;

import java.math.BigDecimal;
import de.codemakers.netbox.client.model.ConfigContext;
import de.codemakers.netbox.client.model.ContentType;
import de.codemakers.netbox.client.model.CustomField;
import de.codemakers.netbox.client.model.CustomLink;
import de.codemakers.netbox.client.model.ExportTemplate;
import de.codemakers.netbox.client.model.ExtrasConfigContextsList200Response;
import de.codemakers.netbox.client.model.ExtrasContentTypesList200Response;
import de.codemakers.netbox.client.model.ExtrasCustomFieldsList200Response;
import de.codemakers.netbox.client.model.ExtrasCustomLinksList200Response;
import de.codemakers.netbox.client.model.ExtrasExportTemplatesList200Response;
import de.codemakers.netbox.client.model.ExtrasImageAttachmentsList200Response;
import de.codemakers.netbox.client.model.ExtrasJobResultsList200Response;
import de.codemakers.netbox.client.model.ExtrasJournalEntriesList200Response;
import de.codemakers.netbox.client.model.ExtrasObjectChangesList200Response;
import de.codemakers.netbox.client.model.ExtrasTagsList200Response;
import de.codemakers.netbox.client.model.ExtrasWebhooksList200Response;
import de.codemakers.netbox.client.model.ImageAttachment;
import de.codemakers.netbox.client.model.JobResult;
import de.codemakers.netbox.client.model.JournalEntry;
import de.codemakers.netbox.client.model.ObjectChange;
import de.codemakers.netbox.client.model.Tag;
import de.codemakers.netbox.client.model.Webhook;
import de.codemakers.netbox.client.model.WritableConfigContext;
import de.codemakers.netbox.client.model.WritableCustomField;
import de.codemakers.netbox.client.model.WritableJournalEntry;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2022-08-31T18:36:37.665487300+02:00[Europe/Berlin]")
public class ExtrasApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public ExtrasApi() {
    this(new ApiClient());
  }

  public ExtrasApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 
   * 
   * @throws ApiException if fails to make API call
   */
  public void extrasConfigContextsBulkDelete() throws ApiException {
    extrasConfigContextsBulkDeleteWithHttpInfo();
  }

  /**
   * 
   * 
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> extrasConfigContextsBulkDeleteWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasConfigContextsBulkDeleteRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasConfigContextsBulkDelete", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasConfigContextsBulkDeleteRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/config-contexts/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * 
   * 
   * @param data  (required)
   * @return ConfigContext
   * @throws ApiException if fails to make API call
   */
  public ConfigContext extrasConfigContextsBulkPartialUpdate(WritableConfigContext data) throws ApiException {
    ApiResponse<ConfigContext> localVarResponse = extrasConfigContextsBulkPartialUpdateWithHttpInfo(data);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param data  (required)
   * @return ApiResponse&lt;ConfigContext&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ConfigContext> extrasConfigContextsBulkPartialUpdateWithHttpInfo(WritableConfigContext data) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasConfigContextsBulkPartialUpdateRequestBuilder(data);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasConfigContextsBulkPartialUpdate", localVarResponse);
        }
        return new ApiResponse<ConfigContext>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ConfigContext>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasConfigContextsBulkPartialUpdateRequestBuilder(WritableConfigContext data) throws ApiException {
    // verify the required parameter 'data' is set
    if (data == null) {
      throw new ApiException(400, "Missing the required parameter 'data' when calling extrasConfigContextsBulkPartialUpdate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/config-contexts/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(data);
      localVarRequestBuilder.method("PATCH", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * 
   * 
   * @param data  (required)
   * @return ConfigContext
   * @throws ApiException if fails to make API call
   */
  public ConfigContext extrasConfigContextsBulkUpdate(WritableConfigContext data) throws ApiException {
    ApiResponse<ConfigContext> localVarResponse = extrasConfigContextsBulkUpdateWithHttpInfo(data);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param data  (required)
   * @return ApiResponse&lt;ConfigContext&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ConfigContext> extrasConfigContextsBulkUpdateWithHttpInfo(WritableConfigContext data) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasConfigContextsBulkUpdateRequestBuilder(data);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasConfigContextsBulkUpdate", localVarResponse);
        }
        return new ApiResponse<ConfigContext>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ConfigContext>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasConfigContextsBulkUpdateRequestBuilder(WritableConfigContext data) throws ApiException {
    // verify the required parameter 'data' is set
    if (data == null) {
      throw new ApiException(400, "Missing the required parameter 'data' when calling extrasConfigContextsBulkUpdate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/config-contexts/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(data);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * 
   * 
   * @param data  (required)
   * @return ConfigContext
   * @throws ApiException if fails to make API call
   */
  public ConfigContext extrasConfigContextsCreate(WritableConfigContext data) throws ApiException {
    ApiResponse<ConfigContext> localVarResponse = extrasConfigContextsCreateWithHttpInfo(data);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param data  (required)
   * @return ApiResponse&lt;ConfigContext&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ConfigContext> extrasConfigContextsCreateWithHttpInfo(WritableConfigContext data) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasConfigContextsCreateRequestBuilder(data);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasConfigContextsCreate", localVarResponse);
        }
        return new ApiResponse<ConfigContext>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ConfigContext>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasConfigContextsCreateRequestBuilder(WritableConfigContext data) throws ApiException {
    // verify the required parameter 'data' is set
    if (data == null) {
      throw new ApiException(400, "Missing the required parameter 'data' when calling extrasConfigContextsCreate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/config-contexts/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(data);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * 
   * 
   * @param id A unique integer value identifying this config context. (required)
   * @throws ApiException if fails to make API call
   */
  public void extrasConfigContextsDelete(Integer id) throws ApiException {
    extrasConfigContextsDeleteWithHttpInfo(id);
  }

  /**
   * 
   * 
   * @param id A unique integer value identifying this config context. (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> extrasConfigContextsDeleteWithHttpInfo(Integer id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasConfigContextsDeleteRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasConfigContextsDelete", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasConfigContextsDeleteRequestBuilder(Integer id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling extrasConfigContextsDelete");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/config-contexts/{id}/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * 
   * Overrides ListModelMixin to allow processing ExportTemplates.
   * @param id  (optional)
   * @param name  (optional)
   * @param isActive  (optional)
   * @param created  (optional)
   * @param createdGte  (optional)
   * @param createdLte  (optional)
   * @param lastUpdated  (optional)
   * @param lastUpdatedGte  (optional)
   * @param lastUpdatedLte  (optional)
   * @param q  (optional)
   * @param regionId  (optional)
   * @param region  (optional)
   * @param siteGroup  (optional)
   * @param siteGroupId  (optional)
   * @param siteId  (optional)
   * @param site  (optional)
   * @param deviceTypeId  (optional)
   * @param roleId  (optional)
   * @param role  (optional)
   * @param platformId  (optional)
   * @param platform  (optional)
   * @param clusterTypeId  (optional)
   * @param clusterType  (optional)
   * @param clusterGroupId  (optional)
   * @param clusterGroup  (optional)
   * @param clusterId  (optional)
   * @param tenantGroupId  (optional)
   * @param tenantGroup  (optional)
   * @param tenantId  (optional)
   * @param tenant  (optional)
   * @param tagId  (optional)
   * @param tag  (optional)
   * @param idN  (optional)
   * @param idLte  (optional)
   * @param idLt  (optional)
   * @param idGte  (optional)
   * @param idGt  (optional)
   * @param nameN  (optional)
   * @param nameIc  (optional)
   * @param nameNic  (optional)
   * @param nameIew  (optional)
   * @param nameNiew  (optional)
   * @param nameIsw  (optional)
   * @param nameNisw  (optional)
   * @param nameIe  (optional)
   * @param nameNie  (optional)
   * @param regionIdN  (optional)
   * @param regionN  (optional)
   * @param siteGroupN  (optional)
   * @param siteGroupIdN  (optional)
   * @param siteIdN  (optional)
   * @param siteN  (optional)
   * @param deviceTypeIdN  (optional)
   * @param roleIdN  (optional)
   * @param roleN  (optional)
   * @param platformIdN  (optional)
   * @param platformN  (optional)
   * @param clusterTypeIdN  (optional)
   * @param clusterTypeN  (optional)
   * @param clusterGroupIdN  (optional)
   * @param clusterGroupN  (optional)
   * @param clusterIdN  (optional)
   * @param tenantGroupIdN  (optional)
   * @param tenantGroupN  (optional)
   * @param tenantIdN  (optional)
   * @param tenantN  (optional)
   * @param tagIdN  (optional)
   * @param tagN  (optional)
   * @param limit Number of results to return per page. (optional)
   * @param offset The initial index from which to return the results. (optional)
   * @return ExtrasConfigContextsList200Response
   * @throws ApiException if fails to make API call
   */
  public ExtrasConfigContextsList200Response extrasConfigContextsList(String id, String name, String isActive, String created, String createdGte, String createdLte, String lastUpdated, String lastUpdatedGte, String lastUpdatedLte, String q, String regionId, String region, String siteGroup, String siteGroupId, String siteId, String site, String deviceTypeId, String roleId, String role, String platformId, String platform, String clusterTypeId, String clusterType, String clusterGroupId, String clusterGroup, String clusterId, String tenantGroupId, String tenantGroup, String tenantId, String tenant, String tagId, String tag, String idN, String idLte, String idLt, String idGte, String idGt, String nameN, String nameIc, String nameNic, String nameIew, String nameNiew, String nameIsw, String nameNisw, String nameIe, String nameNie, String regionIdN, String regionN, String siteGroupN, String siteGroupIdN, String siteIdN, String siteN, String deviceTypeIdN, String roleIdN, String roleN, String platformIdN, String platformN, String clusterTypeIdN, String clusterTypeN, String clusterGroupIdN, String clusterGroupN, String clusterIdN, String tenantGroupIdN, String tenantGroupN, String tenantIdN, String tenantN, String tagIdN, String tagN, Integer limit, Integer offset) throws ApiException {
    ApiResponse<ExtrasConfigContextsList200Response> localVarResponse = extrasConfigContextsListWithHttpInfo(id, name, isActive, created, createdGte, createdLte, lastUpdated, lastUpdatedGte, lastUpdatedLte, q, regionId, region, siteGroup, siteGroupId, siteId, site, deviceTypeId, roleId, role, platformId, platform, clusterTypeId, clusterType, clusterGroupId, clusterGroup, clusterId, tenantGroupId, tenantGroup, tenantId, tenant, tagId, tag, idN, idLte, idLt, idGte, idGt, nameN, nameIc, nameNic, nameIew, nameNiew, nameIsw, nameNisw, nameIe, nameNie, regionIdN, regionN, siteGroupN, siteGroupIdN, siteIdN, siteN, deviceTypeIdN, roleIdN, roleN, platformIdN, platformN, clusterTypeIdN, clusterTypeN, clusterGroupIdN, clusterGroupN, clusterIdN, tenantGroupIdN, tenantGroupN, tenantIdN, tenantN, tagIdN, tagN, limit, offset);
    return localVarResponse.getData();
  }

  /**
   * 
   * Overrides ListModelMixin to allow processing ExportTemplates.
   * @param id  (optional)
   * @param name  (optional)
   * @param isActive  (optional)
   * @param created  (optional)
   * @param createdGte  (optional)
   * @param createdLte  (optional)
   * @param lastUpdated  (optional)
   * @param lastUpdatedGte  (optional)
   * @param lastUpdatedLte  (optional)
   * @param q  (optional)
   * @param regionId  (optional)
   * @param region  (optional)
   * @param siteGroup  (optional)
   * @param siteGroupId  (optional)
   * @param siteId  (optional)
   * @param site  (optional)
   * @param deviceTypeId  (optional)
   * @param roleId  (optional)
   * @param role  (optional)
   * @param platformId  (optional)
   * @param platform  (optional)
   * @param clusterTypeId  (optional)
   * @param clusterType  (optional)
   * @param clusterGroupId  (optional)
   * @param clusterGroup  (optional)
   * @param clusterId  (optional)
   * @param tenantGroupId  (optional)
   * @param tenantGroup  (optional)
   * @param tenantId  (optional)
   * @param tenant  (optional)
   * @param tagId  (optional)
   * @param tag  (optional)
   * @param idN  (optional)
   * @param idLte  (optional)
   * @param idLt  (optional)
   * @param idGte  (optional)
   * @param idGt  (optional)
   * @param nameN  (optional)
   * @param nameIc  (optional)
   * @param nameNic  (optional)
   * @param nameIew  (optional)
   * @param nameNiew  (optional)
   * @param nameIsw  (optional)
   * @param nameNisw  (optional)
   * @param nameIe  (optional)
   * @param nameNie  (optional)
   * @param regionIdN  (optional)
   * @param regionN  (optional)
   * @param siteGroupN  (optional)
   * @param siteGroupIdN  (optional)
   * @param siteIdN  (optional)
   * @param siteN  (optional)
   * @param deviceTypeIdN  (optional)
   * @param roleIdN  (optional)
   * @param roleN  (optional)
   * @param platformIdN  (optional)
   * @param platformN  (optional)
   * @param clusterTypeIdN  (optional)
   * @param clusterTypeN  (optional)
   * @param clusterGroupIdN  (optional)
   * @param clusterGroupN  (optional)
   * @param clusterIdN  (optional)
   * @param tenantGroupIdN  (optional)
   * @param tenantGroupN  (optional)
   * @param tenantIdN  (optional)
   * @param tenantN  (optional)
   * @param tagIdN  (optional)
   * @param tagN  (optional)
   * @param limit Number of results to return per page. (optional)
   * @param offset The initial index from which to return the results. (optional)
   * @return ApiResponse&lt;ExtrasConfigContextsList200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ExtrasConfigContextsList200Response> extrasConfigContextsListWithHttpInfo(String id, String name, String isActive, String created, String createdGte, String createdLte, String lastUpdated, String lastUpdatedGte, String lastUpdatedLte, String q, String regionId, String region, String siteGroup, String siteGroupId, String siteId, String site, String deviceTypeId, String roleId, String role, String platformId, String platform, String clusterTypeId, String clusterType, String clusterGroupId, String clusterGroup, String clusterId, String tenantGroupId, String tenantGroup, String tenantId, String tenant, String tagId, String tag, String idN, String idLte, String idLt, String idGte, String idGt, String nameN, String nameIc, String nameNic, String nameIew, String nameNiew, String nameIsw, String nameNisw, String nameIe, String nameNie, String regionIdN, String regionN, String siteGroupN, String siteGroupIdN, String siteIdN, String siteN, String deviceTypeIdN, String roleIdN, String roleN, String platformIdN, String platformN, String clusterTypeIdN, String clusterTypeN, String clusterGroupIdN, String clusterGroupN, String clusterIdN, String tenantGroupIdN, String tenantGroupN, String tenantIdN, String tenantN, String tagIdN, String tagN, Integer limit, Integer offset) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasConfigContextsListRequestBuilder(id, name, isActive, created, createdGte, createdLte, lastUpdated, lastUpdatedGte, lastUpdatedLte, q, regionId, region, siteGroup, siteGroupId, siteId, site, deviceTypeId, roleId, role, platformId, platform, clusterTypeId, clusterType, clusterGroupId, clusterGroup, clusterId, tenantGroupId, tenantGroup, tenantId, tenant, tagId, tag, idN, idLte, idLt, idGte, idGt, nameN, nameIc, nameNic, nameIew, nameNiew, nameIsw, nameNisw, nameIe, nameNie, regionIdN, regionN, siteGroupN, siteGroupIdN, siteIdN, siteN, deviceTypeIdN, roleIdN, roleN, platformIdN, platformN, clusterTypeIdN, clusterTypeN, clusterGroupIdN, clusterGroupN, clusterIdN, tenantGroupIdN, tenantGroupN, tenantIdN, tenantN, tagIdN, tagN, limit, offset);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasConfigContextsList", localVarResponse);
        }
        return new ApiResponse<ExtrasConfigContextsList200Response>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ExtrasConfigContextsList200Response>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasConfigContextsListRequestBuilder(String id, String name, String isActive, String created, String createdGte, String createdLte, String lastUpdated, String lastUpdatedGte, String lastUpdatedLte, String q, String regionId, String region, String siteGroup, String siteGroupId, String siteId, String site, String deviceTypeId, String roleId, String role, String platformId, String platform, String clusterTypeId, String clusterType, String clusterGroupId, String clusterGroup, String clusterId, String tenantGroupId, String tenantGroup, String tenantId, String tenant, String tagId, String tag, String idN, String idLte, String idLt, String idGte, String idGt, String nameN, String nameIc, String nameNic, String nameIew, String nameNiew, String nameIsw, String nameNisw, String nameIe, String nameNie, String regionIdN, String regionN, String siteGroupN, String siteGroupIdN, String siteIdN, String siteN, String deviceTypeIdN, String roleIdN, String roleN, String platformIdN, String platformN, String clusterTypeIdN, String clusterTypeN, String clusterGroupIdN, String clusterGroupN, String clusterIdN, String tenantGroupIdN, String tenantGroupN, String tenantIdN, String tenantN, String tagIdN, String tagN, Integer limit, Integer offset) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/config-contexts/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("id", id));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name", name));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("is_active", isActive));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("created", created));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("created__gte", createdGte));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("created__lte", createdLte));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("last_updated", lastUpdated));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("last_updated__gte", lastUpdatedGte));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("last_updated__lte", lastUpdatedLte));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("q", q));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("region_id", regionId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("region", region));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("site_group", siteGroup));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("site_group_id", siteGroupId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("site_id", siteId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("site", site));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("device_type_id", deviceTypeId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("role_id", roleId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("role", role));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("platform_id", platformId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("platform", platform));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("cluster_type_id", clusterTypeId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("cluster_type", clusterType));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("cluster_group_id", clusterGroupId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("cluster_group", clusterGroup));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("cluster_id", clusterId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tenant_group_id", tenantGroupId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tenant_group", tenantGroup));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tenant_id", tenantId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tenant", tenant));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tag_id", tagId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tag", tag));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("id__n", idN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("id__lte", idLte));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("id__lt", idLt));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("id__gte", idGte));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("id__gt", idGt));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name__n", nameN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name__ic", nameIc));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name__nic", nameNic));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name__iew", nameIew));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name__niew", nameNiew));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name__isw", nameIsw));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name__nisw", nameNisw));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name__ie", nameIe));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name__nie", nameNie));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("region_id__n", regionIdN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("region__n", regionN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("site_group__n", siteGroupN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("site_group_id__n", siteGroupIdN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("site_id__n", siteIdN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("site__n", siteN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("device_type_id__n", deviceTypeIdN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("role_id__n", roleIdN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("role__n", roleN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("platform_id__n", platformIdN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("platform__n", platformN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("cluster_type_id__n", clusterTypeIdN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("cluster_type__n", clusterTypeN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("cluster_group_id__n", clusterGroupIdN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("cluster_group__n", clusterGroupN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("cluster_id__n", clusterIdN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tenant_group_id__n", tenantGroupIdN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tenant_group__n", tenantGroupN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tenant_id__n", tenantIdN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tenant__n", tenantN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tag_id__n", tagIdN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tag__n", tagN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * 
   * 
   * @param id A unique integer value identifying this config context. (required)
   * @param data  (required)
   * @return ConfigContext
   * @throws ApiException if fails to make API call
   */
  public ConfigContext extrasConfigContextsPartialUpdate(Integer id, WritableConfigContext data) throws ApiException {
    ApiResponse<ConfigContext> localVarResponse = extrasConfigContextsPartialUpdateWithHttpInfo(id, data);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param id A unique integer value identifying this config context. (required)
   * @param data  (required)
   * @return ApiResponse&lt;ConfigContext&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ConfigContext> extrasConfigContextsPartialUpdateWithHttpInfo(Integer id, WritableConfigContext data) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasConfigContextsPartialUpdateRequestBuilder(id, data);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasConfigContextsPartialUpdate", localVarResponse);
        }
        return new ApiResponse<ConfigContext>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ConfigContext>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasConfigContextsPartialUpdateRequestBuilder(Integer id, WritableConfigContext data) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling extrasConfigContextsPartialUpdate");
    }
    // verify the required parameter 'data' is set
    if (data == null) {
      throw new ApiException(400, "Missing the required parameter 'data' when calling extrasConfigContextsPartialUpdate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/config-contexts/{id}/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(data);
      localVarRequestBuilder.method("PATCH", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * 
   * 
   * @param id A unique integer value identifying this config context. (required)
   * @return ConfigContext
   * @throws ApiException if fails to make API call
   */
  public ConfigContext extrasConfigContextsRead(Integer id) throws ApiException {
    ApiResponse<ConfigContext> localVarResponse = extrasConfigContextsReadWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param id A unique integer value identifying this config context. (required)
   * @return ApiResponse&lt;ConfigContext&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ConfigContext> extrasConfigContextsReadWithHttpInfo(Integer id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasConfigContextsReadRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasConfigContextsRead", localVarResponse);
        }
        return new ApiResponse<ConfigContext>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ConfigContext>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasConfigContextsReadRequestBuilder(Integer id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling extrasConfigContextsRead");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/config-contexts/{id}/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * 
   * 
   * @param id A unique integer value identifying this config context. (required)
   * @param data  (required)
   * @return ConfigContext
   * @throws ApiException if fails to make API call
   */
  public ConfigContext extrasConfigContextsUpdate(Integer id, WritableConfigContext data) throws ApiException {
    ApiResponse<ConfigContext> localVarResponse = extrasConfigContextsUpdateWithHttpInfo(id, data);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param id A unique integer value identifying this config context. (required)
   * @param data  (required)
   * @return ApiResponse&lt;ConfigContext&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ConfigContext> extrasConfigContextsUpdateWithHttpInfo(Integer id, WritableConfigContext data) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasConfigContextsUpdateRequestBuilder(id, data);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasConfigContextsUpdate", localVarResponse);
        }
        return new ApiResponse<ConfigContext>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ConfigContext>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasConfigContextsUpdateRequestBuilder(Integer id, WritableConfigContext data) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling extrasConfigContextsUpdate");
    }
    // verify the required parameter 'data' is set
    if (data == null) {
      throw new ApiException(400, "Missing the required parameter 'data' when calling extrasConfigContextsUpdate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/config-contexts/{id}/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(data);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * 
   * Read-only list of ContentTypes. Limit results to ContentTypes pertinent to NetBox objects.
   * @param id  (optional)
   * @param appLabel  (optional)
   * @param model  (optional)
   * @param q  (optional)
   * @param limit Number of results to return per page. (optional)
   * @param offset The initial index from which to return the results. (optional)
   * @return ExtrasContentTypesList200Response
   * @throws ApiException if fails to make API call
   */
  public ExtrasContentTypesList200Response extrasContentTypesList(BigDecimal id, String appLabel, String model, String q, Integer limit, Integer offset) throws ApiException {
    ApiResponse<ExtrasContentTypesList200Response> localVarResponse = extrasContentTypesListWithHttpInfo(id, appLabel, model, q, limit, offset);
    return localVarResponse.getData();
  }

  /**
   * 
   * Read-only list of ContentTypes. Limit results to ContentTypes pertinent to NetBox objects.
   * @param id  (optional)
   * @param appLabel  (optional)
   * @param model  (optional)
   * @param q  (optional)
   * @param limit Number of results to return per page. (optional)
   * @param offset The initial index from which to return the results. (optional)
   * @return ApiResponse&lt;ExtrasContentTypesList200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ExtrasContentTypesList200Response> extrasContentTypesListWithHttpInfo(BigDecimal id, String appLabel, String model, String q, Integer limit, Integer offset) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasContentTypesListRequestBuilder(id, appLabel, model, q, limit, offset);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasContentTypesList", localVarResponse);
        }
        return new ApiResponse<ExtrasContentTypesList200Response>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ExtrasContentTypesList200Response>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasContentTypesListRequestBuilder(BigDecimal id, String appLabel, String model, String q, Integer limit, Integer offset) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/content-types/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("id", id));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("app_label", appLabel));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("model", model));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("q", q));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * 
   * Read-only list of ContentTypes. Limit results to ContentTypes pertinent to NetBox objects.
   * @param id A unique integer value identifying this content type. (required)
   * @return ContentType
   * @throws ApiException if fails to make API call
   */
  public ContentType extrasContentTypesRead(Integer id) throws ApiException {
    ApiResponse<ContentType> localVarResponse = extrasContentTypesReadWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * 
   * Read-only list of ContentTypes. Limit results to ContentTypes pertinent to NetBox objects.
   * @param id A unique integer value identifying this content type. (required)
   * @return ApiResponse&lt;ContentType&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ContentType> extrasContentTypesReadWithHttpInfo(Integer id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasContentTypesReadRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasContentTypesRead", localVarResponse);
        }
        return new ApiResponse<ContentType>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ContentType>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasContentTypesReadRequestBuilder(Integer id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling extrasContentTypesRead");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/content-types/{id}/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * 
   * 
   * @throws ApiException if fails to make API call
   */
  public void extrasCustomFieldsBulkDelete() throws ApiException {
    extrasCustomFieldsBulkDeleteWithHttpInfo();
  }

  /**
   * 
   * 
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> extrasCustomFieldsBulkDeleteWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasCustomFieldsBulkDeleteRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasCustomFieldsBulkDelete", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasCustomFieldsBulkDeleteRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/custom-fields/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * 
   * 
   * @param data  (required)
   * @return CustomField
   * @throws ApiException if fails to make API call
   */
  public CustomField extrasCustomFieldsBulkPartialUpdate(WritableCustomField data) throws ApiException {
    ApiResponse<CustomField> localVarResponse = extrasCustomFieldsBulkPartialUpdateWithHttpInfo(data);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param data  (required)
   * @return ApiResponse&lt;CustomField&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CustomField> extrasCustomFieldsBulkPartialUpdateWithHttpInfo(WritableCustomField data) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasCustomFieldsBulkPartialUpdateRequestBuilder(data);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasCustomFieldsBulkPartialUpdate", localVarResponse);
        }
        return new ApiResponse<CustomField>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CustomField>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasCustomFieldsBulkPartialUpdateRequestBuilder(WritableCustomField data) throws ApiException {
    // verify the required parameter 'data' is set
    if (data == null) {
      throw new ApiException(400, "Missing the required parameter 'data' when calling extrasCustomFieldsBulkPartialUpdate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/custom-fields/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(data);
      localVarRequestBuilder.method("PATCH", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * 
   * 
   * @param data  (required)
   * @return CustomField
   * @throws ApiException if fails to make API call
   */
  public CustomField extrasCustomFieldsBulkUpdate(WritableCustomField data) throws ApiException {
    ApiResponse<CustomField> localVarResponse = extrasCustomFieldsBulkUpdateWithHttpInfo(data);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param data  (required)
   * @return ApiResponse&lt;CustomField&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CustomField> extrasCustomFieldsBulkUpdateWithHttpInfo(WritableCustomField data) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasCustomFieldsBulkUpdateRequestBuilder(data);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasCustomFieldsBulkUpdate", localVarResponse);
        }
        return new ApiResponse<CustomField>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CustomField>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasCustomFieldsBulkUpdateRequestBuilder(WritableCustomField data) throws ApiException {
    // verify the required parameter 'data' is set
    if (data == null) {
      throw new ApiException(400, "Missing the required parameter 'data' when calling extrasCustomFieldsBulkUpdate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/custom-fields/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(data);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * 
   * 
   * @param data  (required)
   * @return CustomField
   * @throws ApiException if fails to make API call
   */
  public CustomField extrasCustomFieldsCreate(WritableCustomField data) throws ApiException {
    ApiResponse<CustomField> localVarResponse = extrasCustomFieldsCreateWithHttpInfo(data);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param data  (required)
   * @return ApiResponse&lt;CustomField&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CustomField> extrasCustomFieldsCreateWithHttpInfo(WritableCustomField data) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasCustomFieldsCreateRequestBuilder(data);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasCustomFieldsCreate", localVarResponse);
        }
        return new ApiResponse<CustomField>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CustomField>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasCustomFieldsCreateRequestBuilder(WritableCustomField data) throws ApiException {
    // verify the required parameter 'data' is set
    if (data == null) {
      throw new ApiException(400, "Missing the required parameter 'data' when calling extrasCustomFieldsCreate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/custom-fields/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(data);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * 
   * 
   * @param id A unique integer value identifying this custom field. (required)
   * @throws ApiException if fails to make API call
   */
  public void extrasCustomFieldsDelete(Integer id) throws ApiException {
    extrasCustomFieldsDeleteWithHttpInfo(id);
  }

  /**
   * 
   * 
   * @param id A unique integer value identifying this custom field. (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> extrasCustomFieldsDeleteWithHttpInfo(Integer id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasCustomFieldsDeleteRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasCustomFieldsDelete", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasCustomFieldsDeleteRequestBuilder(Integer id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling extrasCustomFieldsDelete");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/custom-fields/{id}/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * 
   * Overrides ListModelMixin to allow processing ExportTemplates.
   * @param id  (optional)
   * @param name  (optional)
   * @param required  (optional)
   * @param filterLogic  (optional)
   * @param weight  (optional)
   * @param description  (optional)
   * @param q  (optional)
   * @param type  (optional)
   * @param contentTypeId  (optional)
   * @param contentTypes  (optional)
   * @param idN  (optional)
   * @param idLte  (optional)
   * @param idLt  (optional)
   * @param idGte  (optional)
   * @param idGt  (optional)
   * @param nameN  (optional)
   * @param nameIc  (optional)
   * @param nameNic  (optional)
   * @param nameIew  (optional)
   * @param nameNiew  (optional)
   * @param nameIsw  (optional)
   * @param nameNisw  (optional)
   * @param nameIe  (optional)
   * @param nameNie  (optional)
   * @param filterLogicN  (optional)
   * @param weightN  (optional)
   * @param weightLte  (optional)
   * @param weightLt  (optional)
   * @param weightGte  (optional)
   * @param weightGt  (optional)
   * @param descriptionN  (optional)
   * @param descriptionIc  (optional)
   * @param descriptionNic  (optional)
   * @param descriptionIew  (optional)
   * @param descriptionNiew  (optional)
   * @param descriptionIsw  (optional)
   * @param descriptionNisw  (optional)
   * @param descriptionIe  (optional)
   * @param descriptionNie  (optional)
   * @param typeN  (optional)
   * @param contentTypeIdN  (optional)
   * @param contentTypeIdLte  (optional)
   * @param contentTypeIdLt  (optional)
   * @param contentTypeIdGte  (optional)
   * @param contentTypeIdGt  (optional)
   * @param contentTypesN  (optional)
   * @param contentTypesIc  (optional)
   * @param contentTypesNic  (optional)
   * @param contentTypesIew  (optional)
   * @param contentTypesNiew  (optional)
   * @param contentTypesIsw  (optional)
   * @param contentTypesNisw  (optional)
   * @param contentTypesIe  (optional)
   * @param contentTypesNie  (optional)
   * @param limit Number of results to return per page. (optional)
   * @param offset The initial index from which to return the results. (optional)
   * @return ExtrasCustomFieldsList200Response
   * @throws ApiException if fails to make API call
   */
  public ExtrasCustomFieldsList200Response extrasCustomFieldsList(String id, String name, String required, String filterLogic, String weight, String description, String q, String type, String contentTypeId, String contentTypes, String idN, String idLte, String idLt, String idGte, String idGt, String nameN, String nameIc, String nameNic, String nameIew, String nameNiew, String nameIsw, String nameNisw, String nameIe, String nameNie, String filterLogicN, String weightN, String weightLte, String weightLt, String weightGte, String weightGt, String descriptionN, String descriptionIc, String descriptionNic, String descriptionIew, String descriptionNiew, String descriptionIsw, String descriptionNisw, String descriptionIe, String descriptionNie, String typeN, String contentTypeIdN, String contentTypeIdLte, String contentTypeIdLt, String contentTypeIdGte, String contentTypeIdGt, String contentTypesN, String contentTypesIc, String contentTypesNic, String contentTypesIew, String contentTypesNiew, String contentTypesIsw, String contentTypesNisw, String contentTypesIe, String contentTypesNie, Integer limit, Integer offset) throws ApiException {
    ApiResponse<ExtrasCustomFieldsList200Response> localVarResponse = extrasCustomFieldsListWithHttpInfo(id, name, required, filterLogic, weight, description, q, type, contentTypeId, contentTypes, idN, idLte, idLt, idGte, idGt, nameN, nameIc, nameNic, nameIew, nameNiew, nameIsw, nameNisw, nameIe, nameNie, filterLogicN, weightN, weightLte, weightLt, weightGte, weightGt, descriptionN, descriptionIc, descriptionNic, descriptionIew, descriptionNiew, descriptionIsw, descriptionNisw, descriptionIe, descriptionNie, typeN, contentTypeIdN, contentTypeIdLte, contentTypeIdLt, contentTypeIdGte, contentTypeIdGt, contentTypesN, contentTypesIc, contentTypesNic, contentTypesIew, contentTypesNiew, contentTypesIsw, contentTypesNisw, contentTypesIe, contentTypesNie, limit, offset);
    return localVarResponse.getData();
  }

  /**
   * 
   * Overrides ListModelMixin to allow processing ExportTemplates.
   * @param id  (optional)
   * @param name  (optional)
   * @param required  (optional)
   * @param filterLogic  (optional)
   * @param weight  (optional)
   * @param description  (optional)
   * @param q  (optional)
   * @param type  (optional)
   * @param contentTypeId  (optional)
   * @param contentTypes  (optional)
   * @param idN  (optional)
   * @param idLte  (optional)
   * @param idLt  (optional)
   * @param idGte  (optional)
   * @param idGt  (optional)
   * @param nameN  (optional)
   * @param nameIc  (optional)
   * @param nameNic  (optional)
   * @param nameIew  (optional)
   * @param nameNiew  (optional)
   * @param nameIsw  (optional)
   * @param nameNisw  (optional)
   * @param nameIe  (optional)
   * @param nameNie  (optional)
   * @param filterLogicN  (optional)
   * @param weightN  (optional)
   * @param weightLte  (optional)
   * @param weightLt  (optional)
   * @param weightGte  (optional)
   * @param weightGt  (optional)
   * @param descriptionN  (optional)
   * @param descriptionIc  (optional)
   * @param descriptionNic  (optional)
   * @param descriptionIew  (optional)
   * @param descriptionNiew  (optional)
   * @param descriptionIsw  (optional)
   * @param descriptionNisw  (optional)
   * @param descriptionIe  (optional)
   * @param descriptionNie  (optional)
   * @param typeN  (optional)
   * @param contentTypeIdN  (optional)
   * @param contentTypeIdLte  (optional)
   * @param contentTypeIdLt  (optional)
   * @param contentTypeIdGte  (optional)
   * @param contentTypeIdGt  (optional)
   * @param contentTypesN  (optional)
   * @param contentTypesIc  (optional)
   * @param contentTypesNic  (optional)
   * @param contentTypesIew  (optional)
   * @param contentTypesNiew  (optional)
   * @param contentTypesIsw  (optional)
   * @param contentTypesNisw  (optional)
   * @param contentTypesIe  (optional)
   * @param contentTypesNie  (optional)
   * @param limit Number of results to return per page. (optional)
   * @param offset The initial index from which to return the results. (optional)
   * @return ApiResponse&lt;ExtrasCustomFieldsList200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ExtrasCustomFieldsList200Response> extrasCustomFieldsListWithHttpInfo(String id, String name, String required, String filterLogic, String weight, String description, String q, String type, String contentTypeId, String contentTypes, String idN, String idLte, String idLt, String idGte, String idGt, String nameN, String nameIc, String nameNic, String nameIew, String nameNiew, String nameIsw, String nameNisw, String nameIe, String nameNie, String filterLogicN, String weightN, String weightLte, String weightLt, String weightGte, String weightGt, String descriptionN, String descriptionIc, String descriptionNic, String descriptionIew, String descriptionNiew, String descriptionIsw, String descriptionNisw, String descriptionIe, String descriptionNie, String typeN, String contentTypeIdN, String contentTypeIdLte, String contentTypeIdLt, String contentTypeIdGte, String contentTypeIdGt, String contentTypesN, String contentTypesIc, String contentTypesNic, String contentTypesIew, String contentTypesNiew, String contentTypesIsw, String contentTypesNisw, String contentTypesIe, String contentTypesNie, Integer limit, Integer offset) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasCustomFieldsListRequestBuilder(id, name, required, filterLogic, weight, description, q, type, contentTypeId, contentTypes, idN, idLte, idLt, idGte, idGt, nameN, nameIc, nameNic, nameIew, nameNiew, nameIsw, nameNisw, nameIe, nameNie, filterLogicN, weightN, weightLte, weightLt, weightGte, weightGt, descriptionN, descriptionIc, descriptionNic, descriptionIew, descriptionNiew, descriptionIsw, descriptionNisw, descriptionIe, descriptionNie, typeN, contentTypeIdN, contentTypeIdLte, contentTypeIdLt, contentTypeIdGte, contentTypeIdGt, contentTypesN, contentTypesIc, contentTypesNic, contentTypesIew, contentTypesNiew, contentTypesIsw, contentTypesNisw, contentTypesIe, contentTypesNie, limit, offset);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasCustomFieldsList", localVarResponse);
        }
        return new ApiResponse<ExtrasCustomFieldsList200Response>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ExtrasCustomFieldsList200Response>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasCustomFieldsListRequestBuilder(String id, String name, String required, String filterLogic, String weight, String description, String q, String type, String contentTypeId, String contentTypes, String idN, String idLte, String idLt, String idGte, String idGt, String nameN, String nameIc, String nameNic, String nameIew, String nameNiew, String nameIsw, String nameNisw, String nameIe, String nameNie, String filterLogicN, String weightN, String weightLte, String weightLt, String weightGte, String weightGt, String descriptionN, String descriptionIc, String descriptionNic, String descriptionIew, String descriptionNiew, String descriptionIsw, String descriptionNisw, String descriptionIe, String descriptionNie, String typeN, String contentTypeIdN, String contentTypeIdLte, String contentTypeIdLt, String contentTypeIdGte, String contentTypeIdGt, String contentTypesN, String contentTypesIc, String contentTypesNic, String contentTypesIew, String contentTypesNiew, String contentTypesIsw, String contentTypesNisw, String contentTypesIe, String contentTypesNie, Integer limit, Integer offset) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/custom-fields/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("id", id));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name", name));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("required", required));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filter_logic", filterLogic));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("weight", weight));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description", description));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("q", q));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("type", type));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("content_type_id", contentTypeId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("content_types", contentTypes));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("id__n", idN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("id__lte", idLte));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("id__lt", idLt));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("id__gte", idGte));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("id__gt", idGt));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name__n", nameN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name__ic", nameIc));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name__nic", nameNic));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name__iew", nameIew));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name__niew", nameNiew));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name__isw", nameIsw));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name__nisw", nameNisw));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name__ie", nameIe));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name__nie", nameNie));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filter_logic__n", filterLogicN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("weight__n", weightN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("weight__lte", weightLte));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("weight__lt", weightLt));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("weight__gte", weightGte));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("weight__gt", weightGt));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description__n", descriptionN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description__ic", descriptionIc));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description__nic", descriptionNic));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description__iew", descriptionIew));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description__niew", descriptionNiew));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description__isw", descriptionIsw));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description__nisw", descriptionNisw));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description__ie", descriptionIe));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description__nie", descriptionNie));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("type__n", typeN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("content_type_id__n", contentTypeIdN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("content_type_id__lte", contentTypeIdLte));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("content_type_id__lt", contentTypeIdLt));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("content_type_id__gte", contentTypeIdGte));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("content_type_id__gt", contentTypeIdGt));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("content_types__n", contentTypesN));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("content_types__ic", contentTypesIc));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("content_types__nic", contentTypesNic));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("content_types__iew", contentTypesIew));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("content_types__niew", contentTypesNiew));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("content_types__isw", contentTypesIsw));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("content_types__nisw", contentTypesNisw));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("content_types__ie", contentTypesIe));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("content_types__nie", contentTypesNie));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * 
   * 
   * @param id A unique integer value identifying this custom field. (required)
   * @param data  (required)
   * @return CustomField
   * @throws ApiException if fails to make API call
   */
  public CustomField extrasCustomFieldsPartialUpdate(Integer id, WritableCustomField data) throws ApiException {
    ApiResponse<CustomField> localVarResponse = extrasCustomFieldsPartialUpdateWithHttpInfo(id, data);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param id A unique integer value identifying this custom field. (required)
   * @param data  (required)
   * @return ApiResponse&lt;CustomField&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CustomField> extrasCustomFieldsPartialUpdateWithHttpInfo(Integer id, WritableCustomField data) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasCustomFieldsPartialUpdateRequestBuilder(id, data);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasCustomFieldsPartialUpdate", localVarResponse);
        }
        return new ApiResponse<CustomField>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CustomField>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasCustomFieldsPartialUpdateRequestBuilder(Integer id, WritableCustomField data) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling extrasCustomFieldsPartialUpdate");
    }
    // verify the required parameter 'data' is set
    if (data == null) {
      throw new ApiException(400, "Missing the required parameter 'data' when calling extrasCustomFieldsPartialUpdate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/custom-fields/{id}/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(data);
      localVarRequestBuilder.method("PATCH", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * 
   * 
   * @param id A unique integer value identifying this custom field. (required)
   * @return CustomField
   * @throws ApiException if fails to make API call
   */
  public CustomField extrasCustomFieldsRead(Integer id) throws ApiException {
    ApiResponse<CustomField> localVarResponse = extrasCustomFieldsReadWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param id A unique integer value identifying this custom field. (required)
   * @return ApiResponse&lt;CustomField&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CustomField> extrasCustomFieldsReadWithHttpInfo(Integer id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasCustomFieldsReadRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasCustomFieldsRead", localVarResponse);
        }
        return new ApiResponse<CustomField>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CustomField>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasCustomFieldsReadRequestBuilder(Integer id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling extrasCustomFieldsRead");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/custom-fields/{id}/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * 
   * 
   * @param id A unique integer value identifying this custom field. (required)
   * @param data  (required)
   * @return CustomField
   * @throws ApiException if fails to make API call
   */
  public CustomField extrasCustomFieldsUpdate(Integer id, WritableCustomField data) throws ApiException {
    ApiResponse<CustomField> localVarResponse = extrasCustomFieldsUpdateWithHttpInfo(id, data);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param id A unique integer value identifying this custom field. (required)
   * @param data  (required)
   * @return ApiResponse&lt;CustomField&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CustomField> extrasCustomFieldsUpdateWithHttpInfo(Integer id, WritableCustomField data) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasCustomFieldsUpdateRequestBuilder(id, data);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasCustomFieldsUpdate", localVarResponse);
        }
        return new ApiResponse<CustomField>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CustomField>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasCustomFieldsUpdateRequestBuilder(Integer id, WritableCustomField data) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling extrasCustomFieldsUpdate");
    }
    // verify the required parameter 'data' is set
    if (data == null) {
      throw new ApiException(400, "Missing the required parameter 'data' when calling extrasCustomFieldsUpdate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/custom-fields/{id}/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(data);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * 
   * 
   * @throws ApiException if fails to make API call
   */
  public void extrasCustomLinksBulkDelete() throws ApiException {
    extrasCustomLinksBulkDeleteWithHttpInfo();
  }

  /**
   * 
   * 
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> extrasCustomLinksBulkDeleteWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasCustomLinksBulkDeleteRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasCustomLinksBulkDelete", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasCustomLinksBulkDeleteRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/custom-links/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * 
   * 
   * @param data  (required)
   * @return CustomLink
   * @throws ApiException if fails to make API call
   */
  public CustomLink extrasCustomLinksBulkPartialUpdate(CustomLink data) throws ApiException {
    ApiResponse<CustomLink> localVarResponse = extrasCustomLinksBulkPartialUpdateWithHttpInfo(data);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param data  (required)
   * @return ApiResponse&lt;CustomLink&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CustomLink> extrasCustomLinksBulkPartialUpdateWithHttpInfo(CustomLink data) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasCustomLinksBulkPartialUpdateRequestBuilder(data);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasCustomLinksBulkPartialUpdate", localVarResponse);
        }
        return new ApiResponse<CustomLink>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CustomLink>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasCustomLinksBulkPartialUpdateRequestBuilder(CustomLink data) throws ApiException {
    // verify the required parameter 'data' is set
    if (data == null) {
      throw new ApiException(400, "Missing the required parameter 'data' when calling extrasCustomLinksBulkPartialUpdate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/custom-links/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(data);
      localVarRequestBuilder.method("PATCH", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * 
   * 
   * @param data  (required)
   * @return CustomLink
   * @throws ApiException if fails to make API call
   */
  public CustomLink extrasCustomLinksBulkUpdate(CustomLink data) throws ApiException {
    ApiResponse<CustomLink> localVarResponse = extrasCustomLinksBulkUpdateWithHttpInfo(data);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param data  (required)
   * @return ApiResponse&lt;CustomLink&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CustomLink> extrasCustomLinksBulkUpdateWithHttpInfo(CustomLink data) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = extrasCustomLinksBulkUpdateRequestBuilder(data);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("extrasCustomLinksBulkUpdate", localVarResponse);
        }
        return new ApiResponse<CustomLink>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CustomLink>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder extrasCustomLinksBulkUpdateRequestBuilder(CustomLink data) throws ApiException {
    // verify the required parameter 'data' is set
    if (data == null) {
      throw new ApiException(400, "Missing the required parameter 'data' when calling extrasCustomLinksBulkUpdate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/extras/custom-links/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
[...]
