openapi: 3.0.1
info:
  description: API to access NetBox
  license:
    name: Apache v2 License
  termsOfService: https://github.com/netbox-community/netbox
  title: NetBox API
  version: "3.3"
servers:
- url: https://demo.netbox.dev/api
security:
- Bearer: []
paths:
  /circuits/circuit-terminations/:
    delete:
      operationId: circuits_circuit-terminations_bulk_delete
      responses:
        "204":
          content: {}
          description: ""
      tags:
      - circuits
      x-accepts: application/json
    get:
      description: Overrides ListModelMixin to allow processing ExportTemplates.
      operationId: circuits_circuit-terminations_list
      parameters:
      - in: query
        name: id
        schema:
          type: string
      - in: query
        name: term_side
        schema:
          type: string
      - in: query
        name: port_speed
        schema:
          type: string
      - in: query
        name: upstream_speed
        schema:
          type: string
      - in: query
        name: xconnect_id
        schema:
          type: string
      - in: query
        name: description
        schema:
          type: string
      - in: query
        name: cable_end
        schema:
          type: string
      - in: query
        name: created
        schema:
          type: string
      - in: query
        name: last_updated
        schema:
          type: string
      - in: query
        name: q
        schema:
          type: string
      - in: query
        name: tag
        schema:
          type: string
      - in: query
        name: cabled
        schema:
          type: string
      - in: query
        name: circuit_id
        schema:
          type: string
      - in: query
        name: site_id
        schema:
          type: string
      - in: query
        name: site
        schema:
          type: string
      - in: query
        name: provider_network_id
        schema:
          type: string
      - in: query
        name: id__n
        schema:
          type: string
      - in: query
        name: id__lte
        schema:
          type: string
      - in: query
        name: id__lt
        schema:
          type: string
      - in: query
        name: id__gte
        schema:
          type: string
      - in: query
        name: id__gt
        schema:
          type: string
      - in: query
        name: term_side__n
        schema:
          type: string
      - in: query
        name: port_speed__n
        schema:
          type: string
      - in: query
        name: port_speed__lte
        schema:
          type: string
      - in: query
        name: port_speed__lt
        schema:
          type: string
      - in: query
        name: port_speed__gte
        schema:
          type: string
      - in: query
        name: port_speed__gt
        schema:
          type: string
      - in: query
        name: upstream_speed__n
        schema:
          type: string
      - in: query
        name: upstream_speed__lte
        schema:
          type: string
      - in: query
        name: upstream_speed__lt
        schema:
          type: string
      - in: query
        name: upstream_speed__gte
        schema:
          type: string
      - in: query
        name: upstream_speed__gt
        schema:
          type: string
      - in: query
        name: xconnect_id__n
        schema:
          type: string
      - in: query
        name: xconnect_id__ic
        schema:
          type: string
      - in: query
        name: xconnect_id__nic
        schema:
          type: string
      - in: query
        name: xconnect_id__iew
        schema:
          type: string
      - in: query
        name: xconnect_id__niew
        schema:
          type: string
      - in: query
        name: xconnect_id__isw
        schema:
          type: string
      - in: query
        name: xconnect_id__nisw
        schema:
          type: string
      - in: query
        name: xconnect_id__ie
        schema:
          type: string
      - in: query
        name: xconnect_id__nie
        schema:
          type: string
      - in: query
        name: description__n
        schema:
          type: string
      - in: query
        name: description__ic
        schema:
          type: string
      - in: query
        name: description__nic
        schema:
          type: string
      - in: query
        name: description__iew
        schema:
          type: string
      - in: query
        name: description__niew
        schema:
          type: string
      - in: query
        name: description__isw
        schema:
          type: string
      - in: query
        name: description__nisw
        schema:
          type: string
      - in: query
        name: description__ie
        schema:
          type: string
      - in: query
        name: description__nie
        schema:
          type: string
      - in: query
        name: cable_end__n
        schema:
          type: string
      - in: query
        name: created__n
        schema:
          type: string
      - in: query
        name: created__lte
        schema:
          type: string
      - in: query
        name: created__lt
        schema:
          type: string
      - in: query
        name: created__gte
        schema:
          type: string
      - in: query
        name: created__gt
        schema:
          type: string
      - in: query
        name: last_updated__n
        schema:
          type: string
      - in: query
        name: last_updated__lte
        schema:
          type: string
      - in: query
        name: last_updated__lt
        schema:
          type: string
      - in: query
        name: last_updated__gte
        schema:
          type: string
      - in: query
        name: last_updated__gt
        schema:
          type: string
      - in: query
        name: tag__n
        schema:
          type: string
      - in: query
        name: circuit_id__n
        schema:
          type: string
      - in: query
        name: site_id__n
        schema:
          type: string
      - in: query
        name: site__n
        schema:
          type: string
      - in: query
        name: provider_network_id__n
        schema:
          type: string
      - description: Which field to use when ordering the results.
        in: query
        name: ordering
        schema:
          type: string
      - description: Number of results to return per page.
        in: query
        name: limit
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/circuits_circuit_terminations_list_200_response'
          description: ""
      tags:
      - circuits
      x-accepts: application/json
    patch:
      operationId: circuits_circuit-terminations_bulk_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableCircuitTermination'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitTermination'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    post:
      operationId: circuits_circuit-terminations_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableCircuitTermination'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitTermination'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: circuits_circuit-terminations_bulk_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableCircuitTermination'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitTermination'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
  /circuits/circuit-terminations/{id}/:
    delete:
      operationId: circuits_circuit-terminations_delete
      parameters:
      - description: A unique integer value identifying this circuit termination.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: ""
      tags:
      - circuits
      x-accepts: application/json
    get:
      operationId: circuits_circuit-terminations_read
      parameters:
      - description: A unique integer value identifying this circuit termination.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitTermination'
          description: ""
      tags:
      - circuits
      x-accepts: application/json
    patch:
      operationId: circuits_circuit-terminations_partial_update
      parameters:
      - description: A unique integer value identifying this circuit termination.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableCircuitTermination'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitTermination'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: circuits_circuit-terminations_update
      parameters:
      - description: A unique integer value identifying this circuit termination.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableCircuitTermination'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitTermination'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
  /circuits/circuit-terminations/{id}/paths/:
    get:
      description: Return all CablePaths which traverse a given pass-through port.
      operationId: circuits_circuit-terminations_paths
      parameters:
      - description: A unique integer value identifying this circuit termination.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitTermination'
          description: ""
      tags:
      - circuits
      x-accepts: application/json
  /circuits/circuit-types/:
    delete:
      operationId: circuits_circuit-types_bulk_delete
      responses:
        "204":
          content: {}
          description: ""
      tags:
      - circuits
      x-accepts: application/json
    get:
      description: Overrides ListModelMixin to allow processing ExportTemplates.
      operationId: circuits_circuit-types_list
      parameters:
      - in: query
        name: id
        schema:
          type: string
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: slug
        schema:
          type: string
      - in: query
        name: description
        schema:
          type: string
      - in: query
        name: created
        schema:
          type: string
      - in: query
        name: last_updated
        schema:
          type: string
      - in: query
        name: q
        schema:
          type: string
      - in: query
        name: tag
        schema:
          type: string
      - in: query
        name: id__n
        schema:
          type: string
      - in: query
        name: id__lte
        schema:
          type: string
      - in: query
        name: id__lt
        schema:
          type: string
      - in: query
        name: id__gte
        schema:
          type: string
      - in: query
        name: id__gt
        schema:
          type: string
      - in: query
        name: name__n
        schema:
          type: string
      - in: query
        name: name__ic
        schema:
          type: string
      - in: query
        name: name__nic
        schema:
          type: string
      - in: query
        name: name__iew
        schema:
          type: string
      - in: query
        name: name__niew
        schema:
          type: string
      - in: query
        name: name__isw
        schema:
          type: string
      - in: query
        name: name__nisw
        schema:
          type: string
      - in: query
        name: name__ie
        schema:
          type: string
      - in: query
        name: name__nie
        schema:
          type: string
      - in: query
        name: slug__n
        schema:
          type: string
      - in: query
        name: slug__ic
        schema:
          type: string
      - in: query
        name: slug__nic
        schema:
          type: string
      - in: query
        name: slug__iew
        schema:
          type: string
      - in: query
        name: slug__niew
        schema:
          type: string
      - in: query
        name: slug__isw
        schema:
          type: string
      - in: query
        name: slug__nisw
        schema:
          type: string
      - in: query
        name: slug__ie
        schema:
          type: string
      - in: query
        name: slug__nie
        schema:
          type: string
      - in: query
        name: description__n
        schema:
          type: string
      - in: query
        name: description__ic
        schema:
          type: string
      - in: query
        name: description__nic
        schema:
          type: string
      - in: query
        name: description__iew
        schema:
          type: string
      - in: query
        name: description__niew
        schema:
          type: string
      - in: query
        name: description__isw
        schema:
          type: string
      - in: query
        name: description__nisw
        schema:
          type: string
      - in: query
        name: description__ie
        schema:
          type: string
      - in: query
        name: description__nie
        schema:
          type: string
      - in: query
        name: created__n
        schema:
          type: string
      - in: query
        name: created__lte
        schema:
          type: string
      - in: query
        name: created__lt
        schema:
          type: string
      - in: query
        name: created__gte
        schema:
          type: string
      - in: query
        name: created__gt
        schema:
          type: string
      - in: query
        name: last_updated__n
        schema:
          type: string
      - in: query
        name: last_updated__lte
        schema:
          type: string
      - in: query
        name: last_updated__lt
        schema:
          type: string
      - in: query
        name: last_updated__gte
        schema:
          type: string
      - in: query
        name: last_updated__gt
        schema:
          type: string
      - in: query
        name: tag__n
        schema:
          type: string
      - description: Which field to use when ordering the results.
        in: query
        name: ordering
        schema:
          type: string
      - description: Number of results to return per page.
        in: query
        name: limit
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/circuits_circuit_types_list_200_response'
          description: ""
      tags:
      - circuits
      x-accepts: application/json
    patch:
      operationId: circuits_circuit-types_bulk_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitType'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitType'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    post:
      operationId: circuits_circuit-types_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitType'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitType'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: circuits_circuit-types_bulk_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitType'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitType'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
  /circuits/circuit-types/{id}/:
    delete:
      operationId: circuits_circuit-types_delete
      parameters:
      - description: A unique integer value identifying this circuit type.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: ""
      tags:
      - circuits
      x-accepts: application/json
    get:
      operationId: circuits_circuit-types_read
      parameters:
      - description: A unique integer value identifying this circuit type.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitType'
          description: ""
      tags:
      - circuits
      x-accepts: application/json
    patch:
      operationId: circuits_circuit-types_partial_update
      parameters:
      - description: A unique integer value identifying this circuit type.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitType'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitType'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: circuits_circuit-types_update
      parameters:
      - description: A unique integer value identifying this circuit type.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitType'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitType'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
  /circuits/circuits/:
    delete:
      operationId: circuits_circuits_bulk_delete
      responses:
        "204":
          content: {}
          description: ""
      tags:
      - circuits
      x-accepts: application/json
    get:
      description: Overrides ListModelMixin to allow processing ExportTemplates.
      operationId: circuits_circuits_list
      parameters:
      - in: query
        name: id
        schema:
          type: string
      - in: query
        name: cid
        schema:
          type: string
      - in: query
        name: description
        schema:
          type: string
      - in: query
        name: install_date
        schema:
          type: string
      - in: query
        name: termination_date
        schema:
          type: string
      - in: query
        name: commit_rate
        schema:
          type: string
      - in: query
        name: created
        schema:
          type: string
      - in: query
        name: last_updated
        schema:
          type: string
      - in: query
        name: q
        schema:
          type: string
      - in: query
        name: tag
        schema:
          type: string
      - in: query
        name: tenant_group_id
        schema:
          type: string
      - in: query
        name: tenant_group
        schema:
          type: string
      - in: query
        name: tenant_id
        schema:
          type: string
      - in: query
        name: tenant
        schema:
          type: string
      - in: query
        name: contact
        schema:
          type: string
      - in: query
        name: contact_role
        schema:
          type: string
      - in: query
        name: contact_group
        schema:
          type: string
      - in: query
        name: provider_id
        schema:
          type: string
      - in: query
        name: provider
        schema:
          type: string
      - in: query
        name: provider_network_id
        schema:
          type: string
      - in: query
        name: type_id
        schema:
          type: string
      - in: query
        name: type
        schema:
          type: string
      - in: query
        name: status
        schema:
          type: string
      - in: query
        name: region_id
        schema:
          type: string
      - in: query
        name: region
        schema:
          type: string
      - in: query
        name: site_group_id
        schema:
          type: string
      - in: query
        name: site_group
        schema:
          type: string
      - in: query
        name: site_id
        schema:
          type: string
      - in: query
        name: site
        schema:
          type: string
      - in: query
        name: id__n
        schema:
          type: string
      - in: query
        name: id__lte
        schema:
          type: string
      - in: query
        name: id__lt
        schema:
          type: string
      - in: query
        name: id__gte
        schema:
          type: string
      - in: query
        name: id__gt
        schema:
          type: string
      - in: query
        name: cid__n
        schema:
          type: string
      - in: query
        name: cid__ic
        schema:
          type: string
      - in: query
        name: cid__nic
        schema:
          type: string
      - in: query
        name: cid__iew
        schema:
          type: string
      - in: query
        name: cid__niew
        schema:
          type: string
      - in: query
        name: cid__isw
        schema:
          type: string
      - in: query
        name: cid__nisw
        schema:
          type: string
      - in: query
        name: cid__ie
        schema:
          type: string
      - in: query
        name: cid__nie
        schema:
          type: string
      - in: query
        name: description__n
        schema:
          type: string
      - in: query
        name: description__ic
        schema:
          type: string
      - in: query
        name: description__nic
        schema:
          type: string
      - in: query
        name: description__iew
        schema:
          type: string
      - in: query
        name: description__niew
        schema:
          type: string
      - in: query
        name: description__isw
        schema:
          type: string
      - in: query
        name: description__nisw
        schema:
          type: string
      - in: query
        name: description__ie
        schema:
          type: string
      - in: query
        name: description__nie
        schema:
          type: string
      - in: query
        name: install_date__n
        schema:
          type: string
      - in: query
        name: install_date__lte
        schema:
          type: string
      - in: query
        name: install_date__lt
        schema:
          type: string
      - in: query
        name: install_date__gte
        schema:
          type: string
      - in: query
        name: install_date__gt
        schema:
          type: string
      - in: query
        name: termination_date__n
        schema:
          type: string
      - in: query
        name: termination_date__lte
        schema:
          type: string
      - in: query
        name: termination_date__lt
        schema:
          type: string
      - in: query
        name: termination_date__gte
        schema:
          type: string
      - in: query
        name: termination_date__gt
        schema:
          type: string
      - in: query
        name: commit_rate__n
        schema:
          type: string
      - in: query
        name: commit_rate__lte
        schema:
          type: string
      - in: query
        name: commit_rate__lt
        schema:
          type: string
      - in: query
        name: commit_rate__gte
        schema:
          type: string
      - in: query
        name: commit_rate__gt
        schema:
          type: string
      - in: query
        name: created__n
        schema:
          type: string
      - in: query
        name: created__lte
        schema:
          type: string
      - in: query
        name: created__lt
        schema:
          type: string
      - in: query
        name: created__gte
        schema:
          type: string
      - in: query
        name: created__gt
        schema:
          type: string
      - in: query
        name: last_updated__n
        schema:
          type: string
      - in: query
        name: last_updated__lte
        schema:
          type: string
      - in: query
        name: last_updated__lt
        schema:
          type: string
      - in: query
        name: last_updated__gte
        schema:
          type: string
      - in: query
        name: last_updated__gt
        schema:
          type: string
      - in: query
        name: tag__n
        schema:
          type: string
      - in: query
        name: tenant_group_id__n
        schema:
          type: string
      - in: query
        name: tenant_group__n
        schema:
          type: string
      - in: query
        name: tenant_id__n
        schema:
          type: string
      - in: query
        name: tenant__n
        schema:
          type: string
      - in: query
        name: contact__n
        schema:
          type: string
      - in: query
        name: contact_role__n
        schema:
          type: string
      - in: query
        name: contact_group__n
        schema:
          type: string
      - in: query
        name: provider_id__n
        schema:
          type: string
      - in: query
        name: provider__n
        schema:
          type: string
      - in: query
        name: provider_network_id__n
        schema:
          type: string
      - in: query
        name: type_id__n
        schema:
          type: string
      - in: query
        name: type__n
        schema:
          type: string
      - in: query
        name: status__n
        schema:
          type: string
      - in: query
        name: region_id__n
        schema:
          type: string
      - in: query
        name: region__n
        schema:
          type: string
      - in: query
        name: site_group_id__n
        schema:
          type: string
      - in: query
        name: site_group__n
        schema:
          type: string
      - in: query
        name: site_id__n
        schema:
          type: string
      - in: query
        name: site__n
        schema:
          type: string
      - description: Which field to use when ordering the results.
        in: query
        name: ordering
        schema:
          type: string
      - description: Number of results to return per page.
        in: query
        name: limit
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/circuits_circuits_list_200_response'
          description: ""
      tags:
      - circuits
      x-accepts: application/json
    patch:
      operationId: circuits_circuits_bulk_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableCircuit'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Circuit'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    post:
      operationId: circuits_circuits_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableCircuit'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Circuit'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: circuits_circuits_bulk_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableCircuit'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Circuit'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
  /circuits/circuits/{id}/:
    delete:
      operationId: circuits_circuits_delete
      parameters:
      - description: A unique integer value identifying this circuit.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: ""
      tags:
      - circuits
      x-accepts: application/json
    get:
      operationId: circuits_circuits_read
      parameters:
      - description: A unique integer value identifying this circuit.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Circuit'
          description: ""
      tags:
      - circuits
      x-accepts: application/json
    patch:
      operationId: circuits_circuits_partial_update
      parameters:
      - description: A unique integer value identifying this circuit.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableCircuit'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Circuit'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: circuits_circuits_update
      parameters:
      - description: A unique integer value identifying this circuit.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableCircuit'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Circuit'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
  /circuits/provider-networks/:
    delete:
      operationId: circuits_provider-networks_bulk_delete
      responses:
        "204":
          content: {}
          description: ""
      tags:
      - circuits
      x-accepts: application/json
    get:
      description: Overrides ListModelMixin to allow processing ExportTemplates.
      operationId: circuits_provider-networks_list
      parameters:
      - in: query
        name: id
        schema:
          type: string
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: service_id
        schema:
          type: string
      - in: query
        name: description
        schema:
          type: string
      - in: query
        name: created
        schema:
          type: string
      - in: query
        name: last_updated
        schema:
          type: string
      - in: query
        name: q
        schema:
          type: string
      - in: query
        name: tag
        schema:
          type: string
      - in: query
        name: provider_id
        schema:
          type: string
      - in: query
        name: provider
        schema:
          type: string
      - in: query
        name: id__n
        schema:
          type: string
      - in: query
        name: id__lte
        schema:
          type: string
      - in: query
        name: id__lt
        schema:
          type: string
      - in: query
        name: id__gte
        schema:
          type: string
      - in: query
        name: id__gt
        schema:
          type: string
      - in: query
        name: name__n
        schema:
          type: string
      - in: query
        name: name__ic
        schema:
          type: string
      - in: query
        name: name__nic
        schema:
          type: string
      - in: query
        name: name__iew
        schema:
          type: string
      - in: query
        name: name__niew
        schema:
          type: string
      - in: query
        name: name__isw
        schema:
          type: string
      - in: query
        name: name__nisw
        schema:
          type: string
      - in: query
        name: name__ie
        schema:
          type: string
      - in: query
        name: name__nie
        schema:
          type: string
      - in: query
        name: service_id__n
        schema:
          type: string
      - in: query
        name: service_id__ic
        schema:
          type: string
      - in: query
        name: service_id__nic
        schema:
          type: string
      - in: query
        name: service_id__iew
        schema:
          type: string
      - in: query
        name: service_id__niew
        schema:
          type: string
      - in: query
        name: service_id__isw
        schema:
          type: string
      - in: query
        name: service_id__nisw
        schema:
          type: string
      - in: query
        name: service_id__ie
        schema:
          type: string
      - in: query
        name: service_id__nie
        schema:
          type: string
      - in: query
        name: description__n
        schema:
          type: string
      - in: query
        name: description__ic
        schema:
          type: string
      - in: query
        name: description__nic
        schema:
          type: string
      - in: query
        name: description__iew
        schema:
          type: string
      - in: query
        name: description__niew
        schema:
          type: string
      - in: query
        name: description__isw
        schema:
          type: string
      - in: query
        name: description__nisw
        schema:
          type: string
      - in: query
        name: description__ie
        schema:
          type: string
      - in: query
        name: description__nie
        schema:
          type: string
      - in: query
        name: created__n
        schema:
          type: string
      - in: query
        name: created__lte
        schema:
          type: string
      - in: query
        name: created__lt
        schema:
          type: string
      - in: query
        name: created__gte
        schema:
          type: string
      - in: query
        name: created__gt
        schema:
          type: string
      - in: query
        name: last_updated__n
        schema:
          type: string
      - in: query
        name: last_updated__lte
        schema:
          type: string
      - in: query
        name: last_updated__lt
        schema:
          type: string
      - in: query
        name: last_updated__gte
        schema:
          type: string
      - in: query
        name: last_updated__gt
        schema:
          type: string
      - in: query
        name: tag__n
        schema:
          type: string
      - in: query
        name: provider_id__n
        schema:
          type: string
      - in: query
        name: provider__n
        schema:
          type: string
      - description: Which field to use when ordering the results.
        in: query
        name: ordering
        schema:
          type: string
      - description: Number of results to return per page.
        in: query
        name: limit
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/circuits_provider_networks_list_200_response'
          description: ""
      tags:
      - circuits
      x-accepts: application/json
    patch:
      operationId: circuits_provider-networks_bulk_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableProviderNetwork'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderNetwork'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    post:
      operationId: circuits_provider-networks_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableProviderNetwork'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderNetwork'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: circuits_provider-networks_bulk_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableProviderNetwork'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderNetwork'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
  /circuits/provider-networks/{id}/:
    delete:
      operationId: circuits_provider-networks_delete
      parameters:
      - description: A unique integer value identifying this provider network.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: ""
      tags:
      - circuits
      x-accepts: application/json
    get:
      operationId: circuits_provider-networks_read
      parameters:
      - description: A unique integer value identifying this provider network.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderNetwork'
          description: ""
      tags:
      - circuits
      x-accepts: application/json
    patch:
      operationId: circuits_provider-networks_partial_update
      parameters:
      - description: A unique integer value identifying this provider network.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableProviderNetwork'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderNetwork'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: circuits_provider-networks_update
      parameters:
      - description: A unique integer value identifying this provider network.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableProviderNetwork'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderNetwork'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
  /circuits/providers/:
    delete:
      operationId: circuits_providers_bulk_delete
      responses:
        "204":
          content: {}
          description: ""
      tags:
      - circuits
      x-accepts: application/json
    get:
      description: Overrides ListModelMixin to allow processing ExportTemplates.
      operationId: circuits_providers_list
      parameters:
      - in: query
        name: id
        schema:
          type: string
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: slug
        schema:
          type: string
      - in: query
        name: asn
        schema:
          type: string
      - in: query
        name: account
        schema:
          type: string
      - in: query
        name: created
        schema:
          type: string
      - in: query
        name: last_updated
        schema:
          type: string
      - in: query
        name: q
        schema:
          type: string
      - in: query
        name: tag
        schema:
          type: string
      - in: query
        name: contact
        schema:
          type: string
      - in: query
        name: contact_role
        schema:
          type: string
      - in: query
        name: contact_group
        schema:
          type: string
      - in: query
        name: region_id
        schema:
          type: string
      - in: query
        name: region
        schema:
          type: string
      - in: query
        name: site_group_id
        schema:
          type: string
      - in: query
        name: site_group
        schema:
          type: string
      - in: query
        name: site_id
        schema:
          type: string
      - in: query
        name: site
        schema:
          type: string
      - in: query
        name: asn_id
        schema:
          type: string
      - in: query
        name: id__n
        schema:
          type: string
      - in: query
        name: id__lte
        schema:
          type: string
      - in: query
        name: id__lt
        schema:
          type: string
      - in: query
        name: id__gte
        schema:
          type: string
      - in: query
        name: id__gt
        schema:
          type: string
      - in: query
        name: name__n
        schema:
          type: string
      - in: query
        name: name__ic
        schema:
          type: string
      - in: query
        name: name__nic
        schema:
          type: string
      - in: query
        name: name__iew
        schema:
          type: string
      - in: query
        name: name__niew
        schema:
          type: string
      - in: query
        name: name__isw
        schema:
          type: string
      - in: query
        name: name__nisw
        schema:
          type: string
      - in: query
        name: name__ie
        schema:
          type: string
      - in: query
        name: name__nie
        schema:
          type: string
      - in: query
        name: slug__n
        schema:
          type: string
      - in: query
        name: slug__ic
        schema:
          type: string
      - in: query
        name: slug__nic
        schema:
          type: string
      - in: query
        name: slug__iew
        schema:
          type: string
      - in: query
        name: slug__niew
        schema:
          type: string
      - in: query
        name: slug__isw
        schema:
          type: string
      - in: query
        name: slug__nisw
        schema:
          type: string
      - in: query
        name: slug__ie
        schema:
          type: string
      - in: query
        name: slug__nie
        schema:
          type: string
      - in: query
        name: asn__n
        schema:
          type: string
      - in: query
        name: asn__lte
        schema:
          type: string
      - in: query
        name: asn__lt
        schema:
          type: string
      - in: query
        name: asn__gte
        schema:
          type: string
      - in: query
        name: asn__gt
        schema:
          type: string
      - in: query
        name: account__n
        schema:
          type: string
      - in: query
        name: account__ic
        schema:
          type: string
      - in: query
        name: account__nic
        schema:
          type: string
      - in: query
        name: account__iew
        schema:
          type: string
      - in: query
        name: account__niew
        schema:
          type: string
      - in: query
        name: account__isw
        schema:
          type: string
      - in: query
        name: account__nisw
        schema:
          type: string
      - in: query
        name: account__ie
        schema:
          type: string
      - in: query
        name: account__nie
        schema:
          type: string
      - in: query
        name: created__n
        schema:
          type: string
      - in: query
        name: created__lte
        schema:
          type: string
      - in: query
        name: created__lt
        schema:
          type: string
      - in: query
        name: created__gte
        schema:
          type: string
      - in: query
        name: created__gt
        schema:
          type: string
      - in: query
        name: last_updated__n
        schema:
          type: string
      - in: query
        name: last_updated__lte
        schema:
          type: string
      - in: query
        name: last_updated__lt
        schema:
          type: string
      - in: query
        name: last_updated__gte
        schema:
          type: string
      - in: query
        name: last_updated__gt
        schema:
          type: string
      - in: query
        name: tag__n
        schema:
          type: string
      - in: query
        name: contact__n
        schema:
          type: string
      - in: query
        name: contact_role__n
        schema:
          type: string
      - in: query
        name: contact_group__n
        schema:
          type: string
      - in: query
        name: region_id__n
        schema:
          type: string
      - in: query
        name: region__n
        schema:
          type: string
      - in: query
        name: site_group_id__n
        schema:
          type: string
      - in: query
        name: site_group__n
        schema:
          type: string
      - in: query
        name: site_id__n
        schema:
          type: string
      - in: query
        name: site__n
        schema:
          type: string
      - in: query
        name: asn_id__n
        schema:
          type: string
      - description: Which field to use when ordering the results.
        in: query
        name: ordering
        schema:
          type: string
      - description: Number of results to return per page.
        in: query
        name: limit
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/circuits_providers_list_200_response'
          description: ""
      tags:
      - circuits
      x-accepts: application/json
    patch:
      operationId: circuits_providers_bulk_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableProvider'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    post:
      operationId: circuits_providers_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableProvider'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: circuits_providers_bulk_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableProvider'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
  /circuits/providers/{id}/:
    delete:
      operationId: circuits_providers_delete
      parameters:
      - description: A unique integer value identifying this provider.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: ""
      tags:
      - circuits
      x-accepts: application/json
    get:
      operationId: circuits_providers_read
      parameters:
      - description: A unique integer value identifying this provider.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: ""
      tags:
      - circuits
      x-accepts: application/json
    patch:
      operationId: circuits_providers_partial_update
      parameters:
      - description: A unique integer value identifying this provider.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableProvider'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: circuits_providers_update
      parameters:
      - description: A unique integer value identifying this provider.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableProvider'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: ""
      tags:
      - circuits
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
  /dcim/cable-terminations/:
    delete:
      operationId: dcim_cable-terminations_bulk_delete
      responses:
        "204":
          content: {}
          description: ""
      tags:
      - dcim
      x-accepts: application/json
    get:
      description: Overrides ListModelMixin to allow processing ExportTemplates.
      operationId: dcim_cable-terminations_list
      parameters:
      - in: query
        name: id
        schema:
          type: string
      - in: query
        name: cable
        schema:
          type: string
      - in: query
        name: cable_end
        schema:
          type: string
      - in: query
        name: termination_type
        schema:
          type: string
      - in: query
        name: termination_id
        schema:
          type: string
      - in: query
        name: id__n
        schema:
          type: string
      - in: query
        name: id__lte
        schema:
          type: string
      - in: query
        name: id__lt
        schema:
          type: string
      - in: query
        name: id__gte
        schema:
          type: string
      - in: query
        name: id__gt
        schema:
          type: string
      - in: query
        name: cable__n
        schema:
          type: string
      - in: query
        name: cable_end__n
        schema:
          type: string
      - in: query
        name: termination_type__n
        schema:
          type: string
      - in: query
        name: termination_id__n
        schema:
          type: string
      - in: query
        name: termination_id__lte
        schema:
          type: string
      - in: query
        name: termination_id__lt
        schema:
          type: string
      - in: query
        name: termination_id__gte
        schema:
          type: string
      - in: query
        name: termination_id__gt
        schema:
          type: string
      - description: Which field to use when ordering the results.
        in: query
        name: ordering
        schema:
          type: string
      - description: Number of results to return per page.
        in: query
        name: limit
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dcim_cable_terminations_list_200_response'
          description: ""
      tags:
      - dcim
      x-accepts: application/json
    patch:
      operationId: dcim_cable-terminations_bulk_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CableTermination'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CableTermination'
          description: ""
      tags:
      - dcim
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    post:
      operationId: dcim_cable-terminations_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CableTermination'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CableTermination'
          description: ""
      tags:
      - dcim
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: dcim_cable-terminations_bulk_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CableTermination'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CableTermination'
          description: ""
      tags:
      - dcim
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
  /dcim/cable-terminations/{id}/:
    delete:
      operationId: dcim_cable-terminations_delete
      parameters:
      - description: A unique integer value identifying this cable termination.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: ""
      tags:
      - dcim
      x-accepts: application/json
    get:
      operationId: dcim_cable-terminations_read
      parameters:
      - description: A unique integer value identifying this cable termination.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CableTermination'
          description: ""
      tags:
      - dcim
      x-accepts: application/json
    patch:
      operationId: dcim_cable-terminations_partial_update
      parameters:
      - description: A unique integer value identifying this cable termination.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CableTermination'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CableTermination'
          description: ""
      tags:
      - dcim
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: dcim_cable-terminations_update
      parameters:
      - description: A unique integer value identifying this cable termination.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CableTermination'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CableTermination'
          description: ""
      tags:
      - dcim
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
  /dcim/cables/:
    delete:
      operationId: dcim_cables_bulk_delete
      responses:
        "204":
          content: {}
          description: ""
      tags:
      - dcim
      x-accepts: application/json
    get:
      description: Overrides ListModelMixin to allow processing ExportTemplates.
      operationId: dcim_cables_list
      parameters:
      - in: query
        name: id
        schema:
          type: string
      - in: query
        name: label
        schema:
          type: string
      - in: query
        name: length
        schema:
          type: string
      - in: query
        name: length_unit
        schema:
          type: string
      - in: query
        name: tenant_group_id
        schema:
          type: string
      - in: query
        name: tenant_group
        schema:
          type: string
      - in: query
        name: tenant_id
        schema:
          type: string
      - in: query
        name: tenant
        schema:
          type: string
      - in: query
        name: created
        schema:
          type: string
      - in: query
        name: last_updated
        schema:
          type: string
      - in: query
        name: q
        schema:
          type: string
      - in: query
        name: tag
        schema:
          type: string
      - in: query
        name: termination_a_type
        schema:
          type: string
      - in: query
        name: termination_a_id
        schema:
          type: string
      - in: query
        name: termination_b_type
        schema:
          type: string
      - in: query
        name: termination_b_id
        schema:
          type: string
      - in: query
        name: type
        schema:
          type: string
      - in: query
        name: status
        schema:
          type: string
      - in: query
        name: color
        schema:
          type: string
      - in: query
        name: device_id
        schema:
          type: string
      - in: query
        name: device
        schema:
          type: string
      - in: query
        name: rack_id
        schema:
          type: string
      - in: query
        name: rack
        schema:
          type: string
      - in: query
        name: location_id
        schema:
          type: string
      - in: query
        name: location
        schema:
          type: string
      - in: query
        name: site_id
        schema:
          type: string
      - in: query
        name: site
        schema:
          type: string
      - in: query
        name: id__n
        schema:
          type: string
      - in: query
        name: id__lte
        schema:
          type: string
      - in: query
        name: id__lt
        schema:
          type: string
      - in: query
        name: id__gte
        schema:
          type: string
      - in: query
        name: id__gt
        schema:
          type: string
      - in: query
        name: label__n
        schema:
          type: string
      - in: query
        name: label__ic
        schema:
          type: string
      - in: query
        name: label__nic
        schema:
          type: string
      - in: query
        name: label__iew
        schema:
          type: string
      - in: query
        name: label__niew
        schema:
          type: string
      - in: query
        name: label__isw
        schema:
          type: string
      - in: query
        name: label__nisw
        schema:
          type: string
      - in: query
        name: label__ie
        schema:
          type: string
      - in: query
        name: label__nie
        schema:
          type: string
      - in: query
        name: length__n
        schema:
          type: string
      - in: query
        name: length__lte
        schema:
          type: string
      - in: query
        name: length__lt
        schema:
          type: string
      - in: query
        name: length__gte
        schema:
          type: string
      - in: query
        name: length__gt
        schema:
          type: string
      - in: query
        name: length_unit__n
        schema:
          type: string
      - in: query
        name: tenant_group_id__n
        schema:
          type: string
      - in: query
        name: tenant_group__n
        schema:
          type: string
      - in: query
        name: tenant_id__n
        schema:
          type: string
      - in: query
        name: tenant__n
        schema:
          type: string
      - in: query
        name: created__n
        schema:
          type: string
      - in: query
        name: created__lte
        schema:
          type: string
      - in: query
        name: created__lt
        schema:
          type: string
      - in: query
        name: created__gte
        schema:
          type: string
      - in: query
        name: created__gt
        schema:
          type: string
      - in: query
        name: last_updated__n
        schema:
          type: string
      - in: query
        name: last_updated__lte
        schema:
          type: string
      - in: query
        name: last_updated__lt
        schema:
          type: string
      - in: query
        name: last_updated__gte
        schema:
          type: string
      - in: query
        name: last_updated__gt
        schema:
          type: string
      - in: query
        name: tag__n
        schema:
          type: string
      - in: query
        name: termination_a_type__n
        schema:
          type: string
      - in: query
        name: termination_a_id__n
        schema:
          type: string
      - in: query
        name: termination_a_id__lte
        schema:
          type: string
      - in: query
        name: termination_a_id__lt
        schema:
          type: string
      - in: query
        name: termination_a_id__gte
        schema:
          type: string
      - in: query
        name: termination_a_id__gt
        schema:
          type: string
      - in: query
        name: termination_b_type__n
        schema:
          type: string
      - in: query
        name: termination_b_id__n
        schema:
          type: string
      - in: query
        name: termination_b_id__lte
        schema:
          type: string
      - in: query
        name: termination_b_id__lt
        schema:
          type: string
      - in: query
        name: termination_b_id__gte
        schema:
          type: string
      - in: query
        name: termination_b_id__gt
        schema:
          type: string
      - in: query
        name: type__n
        schema:
          type: string
      - in: query
        name: status__n
        schema:
          type: string
      - in: query
        name: color__n
        schema:
          type: string
      - description: Which field to use when ordering the results.
        in: query
        name: ordering
        schema:
          type: string
      - description: Number of results to return per page.
        in: query
        name: limit
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dcim_cables_list_200_response'
          description: ""
      tags:
      - dcim
      x-accepts: application/json
    patch:
      operationId: dcim_cables_bulk_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableCable'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cable'
          description: ""
      tags:
      - dcim
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    post:
      operationId: dcim_cables_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableCable'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cable'
          description: ""
      tags:
      - dcim
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: dcim_cables_bulk_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableCable'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cable'
          description: ""
      tags:
      - dcim
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
  /dcim/cables/{id}/:
    delete:
      operationId: dcim_cables_delete
      parameters:
      - description: A unique integer value identifying this cable.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: ""
      tags:
      - dcim
      x-accepts: application/json
    get:
      operationId: dcim_cables_read
      parameters:
      - description: A unique integer value identifying this cable.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cable'
          description: ""
      tags:
      - dcim
      x-accepts: application/json
    patch:
      operationId: dcim_cables_partial_update
      parameters:
      - description: A unique integer value identifying this cable.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableCable'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cable'
          description: ""
      tags:
      - dcim
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: dcim_cables_update
      parameters:
      - description: A unique integer value identifying this cable.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableCable'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cable'
          description: ""
      tags:
      - dcim
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
  /dcim/connected-device/:
    get:
      description: "This endpoint allows a user to determine what device (if any)\
        \ is connected to a given peer device and peer\ninterface. This is useful\
        \ in a situation where a device boots with no configuration, but can detect\
        \ its neighbors\nvia a protocol such as LLDP. Two query parameters must be\
        \ included in the request:\n\n* `peer_device`: The name of the peer device\n\
        * `peer_interface`: The name of the peer interface"
      operationId: dcim_connected-device_list
      parameters:
      - description: The name of the peer device
        in: query
        name: peer_device
        required: true
        schema:
          type: string
      - description: The name of the peer interface
        in: query
        name: peer_interface
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          description: ""
      tags:
      - dcim
      x-accepts: application/json
  /dcim/console-port-templates/:
    delete:
      operationId: dcim_console-port-templates_bulk_delete
      responses:
        "204":
          content: {}
          description: ""
      tags:
      - dcim
      x-accepts: application/json
    get:
      description: Overrides ListModelMixin to allow processing ExportTemplates.
      operationId: dcim_console-port-templates_list
      parameters:
      - in: query
        name: id
        schema:
          type: string
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: type
        schema:
          type: string
      - in: query
        name: created
        schema:
          type: string
      - in: query
        name: last_updated
        schema:
          type: string
      - in: query
        name: q
        schema:
          type: string
      - in: query
        name: devicetype_id
        schema:
          type: string
      - in: query
        name: moduletype_id
        schema:
          type: string
      - in: query
        name: id__n
        schema:
          type: string
      - in: query
        name: id__lte
        schema:
          type: string
      - in: query
        name: id__lt
        schema:
          type: string
      - in: query
        name: id__gte
        schema:
          type: string
      - in: query
        name: id__gt
        schema:
          type: string
      - in: query
        name: name__n
        schema:
          type: string
      - in: query
        name: name__ic
        schema:
          type: string
      - in: query
        name: name__nic
        schema:
          type: string
      - in: query
        name: name__iew
        schema:
          type: string
      - in: query
        name: name__niew
        schema:
          type: string
      - in: query
        name: name__isw
        schema:
          type: string
      - in: query
        name: name__nisw
        schema:
          type: string
      - in: query
        name: name__ie
        schema:
          type: string
      - in: query
        name: name__nie
        schema:
          type: string
      - in: query
        name: type__n
        schema:
          type: string
      - in: query
        name: created__n
        schema:
          type: string
      - in: query
        name: created__lte
        schema:
          type: string
      - in: query
        name: created__lt
        schema:
          type: string
      - in: query
        name: created__gte
        schema:
          type: string
      - in: query
        name: created__gt
        schema:
          type: string
      - in: query
        name: last_updated__n
        schema:
          type: string
      - in: query
        name: last_updated__lte
        schema:
          type: string
      - in: query
        name: last_updated__lt
        schema:
          type: string
      - in: query
        name: last_updated__gte
        schema:
          type: string
      - in: query
        name: last_updated__gt
        schema:
          type: string
      - in: query
        name: devicetype_id__n
        schema:
          type: string
      - in: query
        name: moduletype_id__n
        schema:
          type: string
      - description: Which field to use when ordering the results.
        in: query
        name: ordering
        schema:
          type: string
      - description: Number of results to return per page.
        in: query
        name: limit
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dcim_console_port_templates_list_200_response'
          description: ""
      tags:
      - dcim
      x-accepts: application/json
    patch:
      operationId: dcim_console-port-templates_bulk_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableConsolePortTemplate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolePortTemplate'
          description: ""
      tags:
      - dcim
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    post:
      operationId: dcim_console-port-templates_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableConsolePortTemplate'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolePortTemplate'
          description: ""
      tags:
      - dcim
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: dcim_console-port-templates_bulk_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableConsolePortTemplate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolePortTemplate'
          description: ""
      tags:
      - dcim
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
  /dcim/console-port-templates/{id}/:
    delete:
      operationId: dcim_console-port-templates_delete
      parameters:
      - description: A unique integer value identifying this console port template.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: ""
      tags:
      - dcim
      x-accepts: application/json
    get:
      operationId: dcim_console-port-templates_read
      parameters:
      - description: A unique integer value identifying this console port template.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolePortTemplate'
          description: ""
      tags:
      - dcim
      x-accepts: application/json
    patch:
      operationId: dcim_console-port-templates_partial_update
      parameters:
      - description: A unique integer value identifying this console port template.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableConsolePortTemplate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolePortTemplate'
          description: ""
      tags:
      - dcim
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: dcim_console-port-templates_update
      parameters:
      - description: A unique integer value identifying this console port template.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableConsolePortTemplate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolePortTemplate'
          description: ""
      tags:
      - dcim
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
  /dcim/console-ports/:
    delete:
      operationId: dcim_console-ports_bulk_delete
      responses:
        "204":
          content: {}
          description: ""
      tags:
      - dcim
      x-accepts: application/json
    get:
      description: Overrides ListModelMixin to allow processing ExportTemplates.
      operationId: dcim_console-ports_list
      parameters:
      - in: query
        name: id
        schema:
          type: string
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: label
        schema:
          type: string
      - in: query
        name: description
        schema:
          type: string
      - in: query
        name: cable_end
        schema:
          type: string
      - in: query
        name: q
        schema:
          type: string
      - in: query
        name: region_id
        schema:
          type: string
      - in: query
        name: region
        schema:
          type: string
      - in: query
        name: site_group_id
        schema:
          type: string
      - in: query
        name: site_group
        schema:
          type: string
      - in: query
        name: site_id
        schema:
          type: string
      - in: query
        name: site
        schema:
          type: string
      - in: query
        name: location_id
        schema:
          type: string
      - in: query
        name: location
        schema:
          type: string
      - in: query
        name: device_id
        schema:
          type: string
      - in: query
        name: device
        schema:
          type: string
      - in: query
        name: virtual_chassis_id
        schema:
          type: string
      - in: query
        name: virtual_chassis
        schema:
          type: string
      - in: query
        name: module_id
        schema:
          type: string
      - in: query
        name: created
        schema:
          type: string
      - in: query
        name: last_updated
        schema:
          type: string
      - in: query
        name: tag
        schema:
          type: string
      - in: query
        name: cabled
        schema:
          type: string
      - in: query
        name: connected
        schema:
          type: string
      - in: query
        name: type
        schema:
          type: string
      - in: query
        name: id__n
        schema:
          type: string
      - in: query
        name: id__lte
        schema:
          type: string
      - in: query
        name: id__lt
        schema:
          type: string
      - in: query
        name: id__gte
        schema:
          type: string
      - in: query
        name: id__gt
        schema:
          type: string
      - in: query
        name: name__n
        schema:
          type: string
      - in: query
        name: name__ic
        schema:
          type: string
      - in: query
        name: name__nic
        schema:
          type: string
      - in: query
        name: name__iew
        schema:
          type: string
      - in: query
        name: name__niew
        schema:
          type: string
      - in: query
        name: name__isw
        schema:
          type: string
      - in: query
        name: name__nisw
        schema:
          type: string
      - in: query
        name: name__ie
        schema:
          type: string
      - in: query
        name: name__nie
        schema:
          type: string
      - in: query
        name: label__n
        schema:
          type: string
      - in: query
        name: label__ic
        schema:
          type: string
      - in: query
        name: label__nic
        schema:
          type: string
      - in: query
        name: label__iew
        schema:
          type: string
      - in: query
        name: label__niew
        schema:
          type: string
      - in: query
        name: label__isw
        schema:
          type: string
      - in: query
        name: label__nisw
        schema:
          type: string
      - in: query
        name: label__ie
        schema:
          type: string
      - in: query
        name: label__nie
        schema:
          type: string
      - in: query
        name: description__n
        schema:
          type: string
      - in: query
        name: description__ic
        schema:
          type: string
      - in: query
        name: description__nic
        schema:
          type: string
      - in: query
        name: description__iew
        schema:
          type: string
      - in: query
        name: description__niew
        schema:
          type: string
      - in: query
        name: description__isw
        schema:
          type: string
      - in: query
        name: description__nisw
        schema:
          type: string
      - in: query
        name: description__ie
        schema:
          type: string
      - in: query
        name: description__nie
        schema:
          type: string
      - in: query
        name: cable_end__n
        schema:
          type: string
      - in: query
        name: region_id__n
        schema:
          type: string
      - in: query
        name: region__n
        schema:
          type: string
      - in: query
        name: site_group_id__n
        schema:
          type: string
      - in: query
        name: site_group__n
        schema:
          type: string
      - in: query
        name: site_id__n
        schema:
          type: string
      - in: query
        name: site__n
        schema:
          type: string
      - in: query
        name: location_id__n
        schema:
          type: string
      - in: query
        name: location__n
        schema:
          type: string
      - in: query
        name: device_id__n
        schema:
          type: string
      - in: query
        name: device__n
        schema:
          type: string
      - in: query
        name: virtual_chassis_id__n
        schema:
          type: string
      - in: query
        name: virtual_chassis__n
        schema:
          type: string
      - in: query
        name: module_id__n
        schema:
          type: string
      - in: query
        name: created__n
        schema:
          type: string
      - in: query
        name: created__lte
        schema:
          type: string
      - in: query
        name: created__lt
        schema:
          type: string
      - in: query
        name: created__gte
        schema:
          type: string
      - in: query
        name: created__gt
        schema:
          type: string
      - in: query
        name: last_updated__n
        schema:
          type: string
      - in: query
        name: last_updated__lte
        schema:
          type: string
      - in: query
        name: last_updated__lt
        schema:
          type: string
      - in: query
        name: last_updated__gte
        schema:
          type: string
      - in: query
        name: last_updated__gt
        schema:
          type: string
      - in: query
        name: tag__n
        schema:
          type: string
      - in: query
        name: type__n
        schema:
          type: string
      - description: Which field to use when ordering the results.
        in: query
        name: ordering
        schema:
          type: string
      - description: Number of results to return per page.
        in: query
        name: limit
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dcim_console_ports_list_200_response'
          description: ""
      tags:
      - dcim
      x-accepts: application/json
    patch:
      operationId: dcim_console-ports_bulk_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableConsolePort'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolePort'
          description: ""
      tags:
      - dcim
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    post:
      operationId: dcim_console-ports_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableConsolePort'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolePort'
          description: ""
      tags:
      - dcim
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: dcim_console-ports_bulk_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableConsolePort'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolePort'
          description: ""
      tags:
      - dcim
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
  /dcim/console-ports/{id}/:
    delete:
      operationId: dcim_console-ports_delete
      parameters:
      - description: A unique integer value identifying this console port.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: ""
      tags:
      - dcim
      x-accepts: application/json
    get:
      operationId: dcim_console-ports_read
      parameters:
      - description: A unique integer value identifying this console port.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolePort'
          description: ""
      tags:
      - dcim
      x-accepts: application/json
    patch:
      operationId: dcim_console-ports_partial_update
      parameters:
      - description: A unique integer value identifying this console port.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableConsolePort'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolePort'
          description: ""
      tags:
      - dcim
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: dcim_console-ports_update
      parameters:
      - description: A unique integer value identifying this console port.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WritableConsolePort'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolePort'
          description: ""
      tags:
      - dcim
      x-codegen-request-body-name: data
      x-content-type: application/json
      x-accepts: application/json
  /dcim/console-ports/{id}/trace/:
    get:
      description: "Trace a complete cable path and return each segment as a three-tuple\
        \ of (termination, cable, termination)."
      operationId: dcim_console-ports_trace
      parameters:
      - description: A unique integer value identifying this console port.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolePort'
          description: ""
      tags:
      - dcim
      x-accepts: application/json
  /dcim/console-server-port-templates/:
    delete:
      operationId: dcim_console-server-port-templates_bulk_delete
      responses:
        "204":
          content: {}
          description: ""
      tags:
      - dcim
      x-accepts: application/json
    get:
      description: Overrides ListModelMixin to allow processing ExportTemplates.
      operationId: dcim_console-server-port-templates_list
      parameters:
      - in: query
        name: id
        schema:
          type: string
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: type
        schema:
          type: string
      - in: query
        name: created
        schema:
          type: string
      - in: query
        name: last_updated
        schema:
          type: string
      - in: query
        name: q
        schema:
          type: string
      - in: query
        name: devicetype_id
        schema:
          type: string
      - in: query
        name: moduletype_id
        schema:
          type: string
      - in: query
        name: id__n
        schema:
          type: string
      - in: query
        name: id__lte
        schema:
          type: string
      - in: query
        name: id__lt
        schema:
          type: string
      - in: query
        name: id__gte
        schema:
          type: string
      - in: query
        name: id__gt
        schema:
          type: string
      - in: query
        name: name__n
        schema:
          type: string
      - in: query
        name: name__ic
        schema:
          type: string
      - in: query
        name: name__nic
        schema:
          type: string
      - in: query
        name: name__iew
        schema:
          type: string
      - in: query
        name: name__niew
        schema:
          type: string
      - in: query
        name: name__isw
        schema:
          type: string
      - in: query
        name: name__nisw
        schema:
          type: string
      - in: query
        name: name__ie
        schema:
          type: string
      - in: query
        name: name__nie
        schema:
          type: string
      - in: query
        name: type__n
        schema:
          type: string
      - in: query
        name: created__n
        schema:
          type: string
      - in: query
        name: created__lte
        schema:
          type: string
      - in: query
        name: created__lt
        schema:
          type: string
      - in: query
        name: created__gte
        schema:
          type: string
      - in: query
        name: created__gt
        schema:
          type: string
      - in: query
        name: last_updated__n
        schema:
          type: string
      - in: query
        name: last_updated__lte
        schema:
          type: string
      - in: query
        name: last_updated__lt
        schema:
          type: string
      - in: query
        name: last_updated__gte
        schema:
          type: string
      - in: query
        name: last_updated__gt
        schema:
          type: string
      - in: query
        name: devicetype_id__n
        schema:
          type: string
      - in: query
        name: moduletype_id__n
        schema:
          type: string
      - description: Which field to use when ordering the results.
        in: query
        name: ordering
        schema:
          type: string
      - description: Number of results to return per page.
        in: query
        name: limit
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dcim_console_server_port_templates_list_200_response'
          description: ""
      tags:
      - dcim
      x-accepts: application/json
    patch:
      operationId: dcim_console-server-port-templates_bulk_partial_update
[...]
